<div ng-controller="EntityTypeController as ctrl">
    <div ng-if="ctrl.entityType">
        <h2>
            {{ctrl.entityType.name}}
            <h6 class="pb-2 font-weight-normal text-secondary">{{ctrl.entityType.description}}</h6>
        </h2>
        <ul class="list-group" >
            <li class="list-group-item row d-flex">
                <div class="col-4">Name</div>
                <div class="col-4">Description</div>
                <div class="col-2">Type</div>
                <div class="col-2">Required</div>
            </li>
            <li class="list-group-item row d-flex" ng-repeat="property in ctrl.entityType.properties">
                <div class="col-4">{{property.name}}</div>
                <div class="col-4">{{property.description}}</div>
                <div class="col-2" ng-if="!property.$ref">{{property.type}}</div>
                <div class="col-2" ng-if="property.$ref"><a ui-sref="entityTypeDetails({entityType: property.$ref})">{{property.$ref}}</a></div>
                <div class="col-2">{{!!property.required}}</div>
            </li>
        </ul>
    </div>

</div>